<%# Список всех вопросов по конкретному хэштегу %>
<div class="content-wrapper buffer-both">
  <div class="buffer-both text-center">
    <h1 class="title-medium">Вопросы с хэштегом <%= "##{@hashtag.name}" %></h1>
  </div>
  <ul>
    <% @questions.to_a.each do|question|%>
      <li class="question-with-hashtags">
        <%= render_with_hashtags(question.text) %><br>
        <%= "(Отвечает: #{link_to question.user.name, user_path(question.user)})".html_safe %>
      </li>
    <%end%>
  </ul>
</div>
